<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ClooN" version="1.1.2" targetFramework="net461" />
  <package id="NLog" version="4.6.7" targetFramework="net461" />
  <package id="Sourceforge.Cloo" version="0.9.1" targetFramework="net452" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net461" />
  <package id="Xamarin.Essentials" version="1.6.1" targetFramework="net461" />
  <package id="Xamarin.Forms" version="5.0.0.2012" targetFramework="net461" />
</packages>