<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HighSchool.Properties.Settings.HSchoolConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;C:\Program Files\Microsoft SQL Server\MSSQL.1\MSSQL\Data\HSchool.mdf&quot;;Integrated Security=True;Connect Timeout=30;User Instance=True"
            providerName="System.Data.SqlClient" />
		<configuration>
			<connectionStrings>
				<add name="NorthwindConnection" 
				  connectionString="Data Source=localhost; 
        Initial Catalog=Northwind;
        User Id=ApplicationUserID;
        Password=#P%19!ef2" />
			</connectionStrings>
		</configuration>
    </connectionStrings>
</configuration>